# Python
__pycache__/
*.pyc
*.pyo

# Env
.env
.venv/

# Data (CRITICAL)
data/source_batches/
data/archive/
data/rejects/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Power BI
*.pbix
*.csv